{% extends 'base.html' %}
{% block content %}
<div class="portfolio">
    <select>
        <option value="jesper">jesper</option>
        <option value="mikael">mikael</option>
    </select>
    <br>
    <br>
            <table>
                    <tr>
                        <th>Strategy</th>
                        <th>Product type</th>
                        <th>Open date</th>
                        <th>Open time</th>
                        <th>Asset</th>
                        <th>Asset open</th>
                        <th>Product open</th>
                        <th>#</th>
                        <th>Close date</th>
                        <th>Close time</th>
                        <th>Asset close</th>
                        <th>Product close</th>
                        <th>Commission</th>

                    </tr>
                    {% for position in portfolioposition %}
                <form method="POST">
            {% csrf_token %}
                    {{ portfolioposition.management_form }}
                            <tr>
                                {{ position.id }}
                                {{ position.trade_id }}
                                {{ position.insert_type }}
                                <td>{{ position.strategy }}</td>
                                <td>{{ position.product_type }}</td>
                                <td>{{ position.open_date }}</td>
                                <td>{{ position.open_time }}</td>
                                <td>{{ position.asset }}</td>
                                <td>{{ position.ul_open }}</td>
                                <td>{{ position.open_price }}</td>
                                <td>{{ position.quantity }}</td>
                                <td>{{ position.close_date }}</td>
                                <td>{{ position.close_time }}</td>
                                <td>{{ position.ul_close }}</td>
                                <td>{{ position.close_price }}</td>
                                <td>{{ position.commission }}</td>
                                <td><button type="submit">Close position</button></td>
                            </tr>
                    </form>
                    {% endfor %}
            </table>

</div>


{% endblock %}

<!--
{% for obj in portfolioform %}
                            <tr>
                                <td>{{ obj.strategy }}</td>
                                <td>{{ obj.open_date }}</td>
                                <td>{{ obj.open_time }}</td>
                                <td>{{ obj.asset }}</td>
                                <td>{{ obj.ul_open }}</td>
                                <td>{{ obj.open_price }}</td>
                                <td>{{ obj.quantity }}</td>
                                <td>{{ obj.close_date }}</td>
                                <td>{{ obj.close_time }}</td>
                                <td>{{ obj.ul_close }}</td>
                                <td>{{ obj.close_price }}</td>
                                <td>{{ obj.commission }}</td>
                                <td></td>
                            </tr>
                {% endfor %}
-->