{% extends 'base.html' %}
{% block extrahead %}
{% endblock %}
{% block content %}
<div class="portfolio">
    <center>
     <div class="selectuser">
    <select name="slct" id="slct">
      <option>User</option>
      <option value="1">Jesper</option>
      <option value="2">Mikael</option>
    </select>
  </div>
    <br>
    <br>
    {% for id in id_list %}
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>User</th>
                <th>Strategy</th>
                <th>Product type</th>
                <th>Open date</th>
                <th>Open time</th>
                <th>Asset</th>
                <th>Asset open</th>
                <th>Product open</th>
                <th>#</th>
                <th>Close date</th>
                <th>Close time</th>
                <th>Asset close</th>
                <th>Product close</th>
                <th>Commission</th>
            </tr>
            {{ portfolio_object.management_form }}
            {% for object in portfolio_object %}
                {% if object.trade_id.value == id %}
                    <tr>
                    {{ object.id }}
                    {{ object.trade_id }}
                    {{ object.insert_type }}
                    <td>{{ object.user  }}</td>
                    <td>{{ object.strategy }}</td>
                    <td>{{ object.product_type }}</td>
                    <td>{{ object.open_date }}</td>
                    <td>{{ object.open_time }}</td>
                    <td>{{ object.asset }}</td>
                    <td>{{ object.ul_open }}</td>
                    <td>{{ object.open_price }}</td>
                    <td>{{ object.quantity }}</td>
                    <td>{{ object.close_date }}</td>
                    <td>{{ object.close_time }}</td>
                    <td>{{ object.ul_close }}</td>
                    <td>{{ object.close_price }}</td>
                    <td>{{ object.commission }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button type="submit" id="closebtn">Close</button>
    </form>
{% endfor %}
    </center>
</div>


{% endblock %}

<!--

-->