{% extends 'base.html' %}
{% block content %}
<div class="portfolio">
    <select>
        <option value="jesper">jesper</option>
        <option value="mikael">mikael</option>
    </select>
    <br>
    <br>
        <form method="POST">
            {% csrf_token %}
            <table>
                    <tr>
                        <th>strategy</th>
                        <th>product type</th>
                        <th>open date</th>
                        <th>open time</th>
                        <th>asset</th>
                        <th>underlying open</th>
                        <th>product open</th>
                        <th>#</th>
                        <th>close date</th>
                        <th>close time</th>
                        <th>underlying close</th>
                        <th>product close</th>
                        <th>commission</th>
                        <th>net result</th>

                    </tr>
                    {{ portfolioposition.management_form }}
                    {% for position in portfolioposition %}
                            <tr>
                                {{ position.id }}
                                {{ position.trade_id }}
                                {{ position.insert_type }}
                                <td>{{ position.strategy }}</td>
                                <td>{{ position.product_type }}</td>
                                <td>{{ position.open_date }}</td>
                                <td>{{ position.open_time }}</td>
                                <td>{{ position.asset }}</td>
                                <td>{{ position.ul_open }}</td>
                                <td>{{ position.open_price }}</td>
                                <td>{{ position.quantity }}</td>
                                <td>{{ position.close_date }}</td>
                                <td>{{ position.close_time }}</td>
                                <td>{{ position.ul_close }}</td>
                                <td>{{ position.close_price }}</td>
                                <td>{{ position.commission }}</td>
                                <td></td>
                            </tr>
                    {% endfor %}
            </table>
            <button type="submit">Close position</button>
        </form>
</div>


{% endblock %}

<!--
{% for obj in portfolioform %}
                            <tr>
                                <td>{{ obj.strategy }}</td>
                                <td>{{ obj.open_date }}</td>
                                <td>{{ obj.open_time }}</td>
                                <td>{{ obj.asset }}</td>
                                <td>{{ obj.ul_open }}</td>
                                <td>{{ obj.open_price }}</td>
                                <td>{{ obj.quantity }}</td>
                                <td>{{ obj.close_date }}</td>
                                <td>{{ obj.close_time }}</td>
                                <td>{{ obj.ul_close }}</td>
                                <td>{{ obj.close_price }}</td>
                                <td>{{ obj.commission }}</td>
                                <td></td>
                            </tr>
                {% endfor %}
-->