{box-sizing: border-box}

body, html {
  background-color: #31496b;
  height: 100%;
  margin: 0;
  font-family: Calibri;
  color: #eaeaea;
}

.content_container {
  background-color: #3d5c87;
  color: white;
  padding: 10px 20px;
  height: 100%;
}

.portfolio tr:nth-child(even){
    background-color: #f2f2f2
}

.portfolio td {
    text-align: center;
    padding: 3px;
    background-color: #d9d9d9;
    color: black;
    font-size: 12px;
}

.portfolio th {
  text-align: center;
  padding: 5px;
  background-color: #31496b;
  color: white;
  font-size: 12px;
}

.addPosition tr:nth-child(even){
    background-color: #f2f2f2
}

.addPosition td {
    text-align: center;
    padding: 3px;
    background-color: #d9d9d9;
    color: black;
    font-size: 12px;
}

.addPosition th {
  text-align: center;
  padding: 5px;
  background-color: #31496b;
  color: white;
  font-size: 12px;
}

.adminlink a:link, .adminlink a:visited {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
}

.left {

    float: left;

}

.center {

    float: left;

}

.right {
    background-color: #555;
    float: right;

}

/*Portfolio Close Button*/

#closebtn {
  font-family: Calibri;
  position: relative;
  height: 25px;
  width: 70px;
  margin: 10px 7px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  border: 1px solid #fbd245;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #2c3e50;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;

}

#closebtn:hover {
  color: black;
  font-weight: 700;
}

#closebtn:before {
  content: "";
  position: absolute;
  background: #fbd245;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

#closebtn:hover:before {
  top: 0;
}

/*Add position Button*/

#submitPosition {
  font-family: Calibri;
  position: relative;
  height: 30px;
  width: 80px;
  margin: 10px 7px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  border: 1px solid #288e43;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #2c3e50;
  outline: 0;
  overflow:hidden;
  background: #288e43;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

#submitPosition:hover {
  color: white;
  font-weight: bold;
  background: #1c8438;
}



/*Portfolio User Dropdown*/
#slct {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

/* Custom Select */
.selectuser {
  position: relative;
  display: block;
  width: 8em;
  height: 2em;
  line-height: 2;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
#slct {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
#slct::-ms-expand {
  display: none;
}
/* Arrow */
.selectuser::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.selectuser:hover::after {
  color: rgb(300, 194, 88);
}
.selectuser::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* NAVBAR */
*{margin:0;padding:0;text-decoration:none}
body{background:#31496b;}
header{position:relative;width:100%;background:#31496b;border-bottom:1px solid #fbd245;box-shadow: 1px 1px 1px 1px #2c3e50;}
.logo{position:relative;z-index:123;padding:10px;font:20px verdana;color:#fbd245;float:left;width:15%}
.logo a{color:#fbd245;}
nav{position:relative;width:1310px;margin:0 auto;}
#pairnav,#pairnav ul,#pairnav ul li,#pairnav ul li a,#pairnav #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#pairnav:after,#pairnav > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#pairnav{font-family:sans-serif;background:#31496b;}
#pairnav > ul > li{float:left}
#pairnav > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#pairnav > ul > li:hover > a,#pairnav ul li.active a{color:#000}
#pairnav > ul > li:hover,#pairnav ul li.active:hover,#pairnav ul li.active,#pairnav ul li.has-sub.active:hover{background:#fbd245;!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#pairnav > ul > li.has-sub > a{padding-right:30px}
#pairnav > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#pairnav > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#pairnav > ul > li.has-sub:hover > a:before{top:23px;height:0}
#pairnav ul ul{position:absolute;left:-9999px;box-shadow: 1px 1px 1px 1px #2c3e50;;}
#pairnav ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#31496b;transition:all .25s ease}
#pairnav ul ul li:hover{}
#pairnav li:hover > ul{left:auto}
#pairnav li:hover > ul > li{height:35px}
#pairnav ul ul ul{margin-left:101%;top:0}
#pairnav ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#ddd;font-weight:400;}
#pairnav ul ul li:last-child > a,#pairnav ul ul li.last-item > a{border-bottom:0}
#pairnav ul ul li:hover > a,#pairnav ul ul li a:hover{color:#fff}
#pairnav ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#pairnav ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#pairnav ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#pairnav ul ul li.has-sub:hover,#pairnav ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#pairnav ul ul ul li.active a{border-left:1px solid #333}
#pairnav > ul > li.has-sub > ul > li.active > a,#pairnav > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}
}
