{box-sizing: border-box}

body, html {
  background-color: #31496b;
  height: 100%;
  margin: 0;
  font-family: Calibri;
  color: #eaeaea;
}

.tablink {
  background-color: #555;
  color: white;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 14px;
  transition: 0.3s;
  font-size: 17px;
  width: 133px;
}

.tablink:hover {
  background-color: #3d5c87;
}

.content_container {
  background-color: #3d5c87;
  color: white;
  padding: 10px 20px;
  height: 100%;
}

.portfolio tr:nth-child(even){
    background-color: #f2f2f2
}

.portfolio td {
    text-align: center;
    padding: 3px;
    background-color: #d9d9d9;
    color: black;
    font-size: 12px;
}

.portfolio th {
  text-align: center;
  padding: 5px;
  background-color: #31496b;
  color: white;
  font-size: 12px;
}

.addPosition tr:nth-child(even){
    background-color: #f2f2f2
}

.addPosition td {
    text-align: center;
    padding: 3px;
    background-color: #d9d9d9;
    color: black;
    font-size: 12px;
}

.addPosition th {
  text-align: center;
  padding: 5px;
  background-color: #31496b;
  color: white;
  font-size: 12px;
}

.adminlink a:link, .adminlink a:visited {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
}

.left {

    float: left;

}

.center {

    float: left;

}

.right {
    background-color: #555;
    float: right;

}