{% extends 'base.html' %}

{% block content %}
<div class="portfolio">
    <!-- <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>portfolio</th>
                <th>strategy</th>
                <th>legs</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ mainform.user }}</td>
                <td>{{ mainform.strategy }}</td>
                <td><select name="legs"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                <td><button type="submit">Add position</button></td>
            </tr>
        </table>
        <br>
        <table>
            {% for i in '01'|make_list %}
                <tr>
                    <th>instrument</th>
                    <th>open date</th>
                    <th>open time</th>
                    <th>asset</th>
                    <th>asset price</th>
                    <th>mini future price</th>
                    <th>finance level</th>
                    <th>target exposure</th>
                    <th>quantity</th>
                </tr>
                <tr>
                    <td>{{ .product_type }}</td>
                    <td>{{ .open_date }}</td>
                    <td>{{ .open_time }}</td>
                    <td>{{ .asset }}</td>
                    <td>{{ .ul_open }}</td>
                    <td>{{ .open_price }}</td>
                    <td>{{ .mf_finlevel }}</td>
                    <td>{{ .target_exposure }}</td>
                    <td>{{ .quantity }}</td>
                </tr>
            {% endfor %}
        </table> --!>
                    <form method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            <table>
                                {% for form in formset %}
                                {{ form }}
                                {% endfor %}
                                <button type="submit">Add position</button>
                            </table>
                        </form>

    </form>
</div>

{% endblock %}