{% extends 'base.html' %}
{% block extrahead %}
         <script type="text/javascript" src="{{STATICFILES_DIRS}}/static/js/addposition.js"></script>
{% endblock %}
{% block content %}


<div class="addPosition">

    <form method="post">
    {% csrf_token %}
        <div id="positionFilter">
            <table>
                <th>show currency</th>
                <th>legs</th>
                <th>target exposure</th>
                <tr>
                <td><input type="checkbox" id="currency"></td>
                <td><input type="number" min="0" max="4"></td>
                <td><input  id="targetExposure" type="text"></td>
                </tr>
            </table>
            <br>
        </div>
        <div class="positionGrid">
            <div id="generalPosition">
                <table>
                    <th>user</th>
                    <th>strategy</th>
                    <tr>
                    <td>{{ mainposition.user }}</td>
                    <td>{{ mainposition.strategy }}</td>
                    </tr>
                </table>
            </div>
            <div id="positions">
                <div id="mainPosition" style="display: none;">

                    <table id="mainTable">
                        <th>Product type</th>
                        <th>Open date</th>
                        <th>Open time</th>
                        <th>Asset</th>
                        <th>Currency</th>
                        <th>FX open</th>
                        <th>Asset open</th>
                        <th>Open price</th>
                        <th>#</th>
                        <th>FinLevel</th>
                        <th>Option date</th>
                        <th>Option strike</th>
                        <tr>
                        <td>{{ mainposition.product_type }}</td>
                        <td>{{ mainposition.open_date }}</td>
                        <td>{{ mainposition.open_time }}</td>
                        <td>{{ mainposition.asset }}</td>
                        <td>{{ mainposition.currency }}</td>
                        <td>{{ mainposition.fx_open }}</td>
                        <td>{{ mainposition.ul_open }}</td>
                        <td>{{ mainposition.open_price }}</td>
                        <td>{{ mainposition.quantity }}</td>
                        <td>{{ mainposition.mf_finlevel }}</td>
                        <td>{{ mainposition.opt_date }}</td>
                        <td>{{ mainposition.opt_strike }}</td>
                        </tr>
                    </table>
                </div>
                <div id="subPosition" style="display: none;">
                    <table id = "subpositionTable">
                        <th>Product type</th>
                        <th>Open date</th>
                        <th>Open time</th>
                        <th>Asset</th>
                        <th>Currency</th>
                        <th>FX open</th>
                        <th>Asset open</th>
                        <th>Open price</th>
                        <th>#</th>
                        <th>FinLevel</th>
                        <th>Option date</th>
                        <th>Option strike</th>
                        {{ subposition.management_form }}
                        {% for position in subposition %}
                        <tr>
                        <td>{{ position.product_type }}</td>
                        <td>{{ position.open_date }}</td>
                        <td>{{ position.open_time }}</td>
                        <td>{{ position.asset }}</td>
                        <td>{{ position.currency }}</td>
                        <td>{{ position.fx_open }}</td>
                        <td>{{ position.ul_open }}</td>
                        <td>{{ position.open_price }}</td>
                        <td>{{ position.quantity }}<button class="setBtn") type="button">set</button></td>
                        <td>{{ position.mf_finlevel }}</td>
                        <td>{{ position.opt_date }}</td>
                        <td>{{ position.opt_strike }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" id="submitPosition" style="display: none;">Add position</button>
    </form>
</div>

{% endblock %}