{% extends 'base.html' %}
{% block content %}
<div class="tradelog">
    <div class="statbox">

    </div>
    <div class="chartbox">
    <center>
        watchlist<br><br>
        <select multiple="multiple">
            <option>ALFA : ABB</option>
            <option>SAND : SKF-B</option>
            <option>SWED-A : SHB-A</option>
            <option>CAST : FABG</option>
        </select><br><br>
        <button>Load</button>  <button>Remove</button>
        <br><br>
        <button>Add to watchlist</button>
    </center>
    </div>
</div>
{% endblock %}