{% load static %}
<html>
    <head>
	<title>PairPiperWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
        {% block extrahead %}
        {% endblock %}
	</head>
<body>
<center>

    <header>
<nav id='pairnav'>
<li class = "logo">PairPiper</li>
<ul>
<li><a href='#'>Trade</a>
   <ul>
      <li><a href='/addposition'>Add position</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
      <li><a href='/piperdatabase'>Piper database</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
       <li><a href='/pairsdata'>Pairsdata</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
        <li><a href='/tradelog'>Tradelog</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
       <li><a href='/portfolio'>Portfolio</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
   </ul>
</li>
    <li><a href='/admin'>Admin</a>
</ul>
</nav>
</header>

</center>
    <div class="content_container">
        <br>
        {% block content %}
        {% endblock %}
    </div>




</body>
</html>
