{% load static %}
<html>
    <head>
	<title>PairPiperWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	</head>
<body>
<center>
    <div class="page_header">
        <font color=#f5c258 size="6">PAIR PIPER</font><br>  ver <font size=5>1</font>.1.10<br><br>

        <button class="tablink" onclick="window.location.href='/piperdatabase';">piperdatabase</button>
        <button class="tablink" onclick="window.location.href='/pairsdata';">pairs data</button>
        <button class="tablink" onclick="window.location.href='/portfolio';">portfolio</button>
        <button class="tablink" onclick="window.location.href='/addposition';">add position</button>

    </div>

    <div class="content_container">
        <br>
        {% block content %}
        {% endblock %}
    </div>


</center>
</body>
</html>
