{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="portfolio">
    <center>
    <table>
        <form method="POST">
        {% csrf_token %}
            <td>
                <input type="text" name="start_date_textbox" size="9" maxlength="10" value="{{ today_minus }}">
            </td>
            <td>
                <input type="text" name="end_date_textbox" size="9" maxlength="10" value="{{ todays_date }}">
            </td>
            <td>
                <select name="ticker_1_droplist">
                    {% for symbol in symbol_list %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="ticker_2_droplist">
                    {% for symbol in symbol_list %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="submit" value="Refresh">
            </td>
        </form>
        </tr>
    </table>

    <br><br><br>
        <div class="left">
            <center>Spread Charts<br></center>
            <img src="data:image/png;base64,{{ chart_1 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
            <img src="data:image/png;base64,{{ chart_2 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
            <img src="data:image/png;base64,{{ chart_3 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
        </div>
        <div class="right">
            <center>Price Charts<br></center>
            <img src="data:image/png;base64,{{ chart_11 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
            <img src="data:image/png;base64,{{ chart_21 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
            <img src="data:image/png;base64,{{ chart_31 }}" onerror="this.style.display = 'none';" alt=""/><br><br>
        </div>

</center>
</div>

{% endblock %}